/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  font-family: 'Lato', sans-serif;
}

.btn, .btn-large {
  background-color: #1565C0;
}

.btn:hover, .btn-large:hover{
  background-color: #1976d2;
}


.section {
  background-color: #ECEFF1;
}

.slides {
  background-color: #ECEFF1 !important;
  color: black;
}

.news-label {
  background-color: #24272F !important;
  text-align: center;
  color: #64b5f6;
  font-weight: bold;
}

.caption {
  margin-top: -20px;
  margin-bottom: -20px;
}

.news-slider-link {
  color: rgba(0, 0, 0, 0.87);
}

.logo {
  margin-bottom: 10px;
}

.logo-img {
  min-width: 120px;
  max-width: 200px !important;
}

.logo-top, .logo-middle {
  font-size: 3rem;
  line-height: 3rem;
  text-shadow: 3px 3px #505050;
}

.logo-top {
  font-weight: bold;
}

.logo-middle {
  font-weight: 300 !important;
}

@media screen and (max-width: 600px){
	.logo-text {
    text-align: center;
   }
}

@media screen and (max-width: 1500px){
	.logo-top, .logo-middle {
    font-size: 2.5rem;
    line-height: 2.5rem;
   }
}

@media screen and (max-width: 1220px){
	.logo-top, .logo-middle {
    font-size: 1.8rem;
    line-height: 1.8rem;
   }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.slider .indicators .indicator-item.active {
  background-color: #448aff;
}

#index-banner {
  background-color: #141414;
  background-image: url("../img/banner.png");
  background-size: cover;
}

.banner-row {
  margin-bottom: 0;
}

#illness-ticker {
  font-weight: bold;
  color: #dd2c00;
}

.span-container {
  text-align: left;
  display: inline-block;
}


.read-more-win-body, .read-more-why-body, .read-more-why-close {
  display: none;
}

.read-more-treatments-body, .read-more-treatments-close, .read-more-win-close {
  display: none;
}

.read-more-win-open, .read-more-why-open, .read-more-treatments-open {
  display: inline;
}
.banner-text-col {
  min-height: 40px;
  text-align: center;
}

.dark-blue {
  background-color: #24272F;
}
ul.bullet-ul {
  margin-top: 0;
  margin-left: 20px;
}

ul.bullet-ul li {
  list-style-type: disc;
}

.card-panel {
  max-width: 400px;
  padding: 14px;
}

footer.page-footer {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #141414;
}

.btn-small {
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/*Banner Text Ticker*/
.rw-wrapper {
	position: relative;
}
.rw-sentence{
	margin: 0;
}
.rw-sentence span{
	color: #FFF;
	font-weight: normal;
  font-size: 90%;
}
.rw-words{
	display: inline;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
  font-size: 100%;
	color: #ff5252;
  text-shadow: 0px 2px 3px #000;
  font-weight: bold;
	-webkit-animation: rotateWord 27s linear infinite 0s;
	-ms-animation: rotateWord 27s linear infinite 0s;
	animation: rotateWord 27s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
	animation-delay: 3s;
}
.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 6s;
	-ms-animation-delay: 6s;
	animation-delay: 6s;
}
.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 9s;
	-ms-animation-delay: 9s;
	animation-delay: 9s;
}
.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 12s;
	-ms-animation-delay: 12s;
	animation-delay: 12s;
}
.rw-words-1 span:nth-child(6) {
    -webkit-animation-delay: 15s;
	-ms-animation-delay: 15s;
	animation-delay: 15s;
}
.rw-words-1 span:nth-child(7) {
    -webkit-animation-delay: 18s;
	-ms-animation-delay: 18s;
	animation-delay: 18s;
}
.rw-words-1 span:nth-child(8) {
    -webkit-animation-delay: 21s;
	-ms-animation-delay: 21s;
	animation-delay: 21s;
}
.rw-words-1 span:nth-child(9) {
    -webkit-animation-delay: 24s;
	-ms-animation-delay: 24s;
	animation-delay: 24s;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    4% { opacity: 0; -webkit-transform: translateY(-30px); }
	7% { opacity: 1; -webkit-transform: translateY(0px);}
    14% { opacity: 1; -webkit-transform: translateY(0px); }
	18% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    4% { opacity: 0; -ms-transform: translateY(-30px); }
	7% { opacity: 1; -ms-transform: translateY(0px);}
    14% { opacity: 1; -ms-transform: translateY(0px); }
	18% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    4% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	7% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    14% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	18% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}
