/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  font-family: 'Lato';
}

.logo {
  margin-bottom: 10px;
}

.logo-top {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.logo-middle {
  font-size: 2.2rem;
  margin-top: -20px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.slider .indicators .indicator-item.active {
  background-color: #448aff;
}

#index-banner {
  background-color: #141414;
}

.banner-row {
  margin-bottom: 0;
}

.banner-line {
  margin-top: 30px;
}

.news-slider-link {
  color: white;
}

.read-more-win-body {
  display: none;
}

.read-more-win-close {
  display: none;
}

.read-more-treatments-body {
  display: none;
}

.read-more-treatments-close {
  display: none;
}

.read-more-why-body {
  display: none;
}

.read-more-why-close {
  display: none;
}

.banner-text {
  vertical-align: top;
}

.banner-text-wrapper {
  min-height: 20px;
}

ul.bullet-ul {
  margin-top: 0;
  margin-left: 20px;
}

ul.bullet-ul li {
  list-style-type: disc;
}

footer.page-footer {
  margin-top: 0;
  background-color: #141414
}
